.desktopItem {
    float: left;
    margin: 4px;
    padding: 4px;
    width: 94px;
    height: 94px;
    cursor: default;
    overflow: hidden;
}

.desktopItemIcon {
    margin: 4px 11px;
}

.desktopItemName {
    text-align: center;
    overflow: hidden;
    margin-top: 4px;
}

.desktopItemHover,
.desktopItemSelected {
    padding: 3px;
    border: 1px solid #b8d6fb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: linear-gradient(#fcfdfe, #f2f7fe);
    background: -moz-linear-gradient(#fcfdfe, #f2f7fe);
    background: -webkit-linear-gradient(#fcfdfe, #f2f7fe);
    background: -o-linear-gradient(#fcfdfe, #f2f7fe);
}